* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color: #ffc2d1;
    color: white;
    padding: 1rem 2rem;
}

/* Encabezado */
header {
    background-color: #fdd5df;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0 0;
}

/* Barra de navegacion */
nav ul {
    list-style: none;
    background-color: #ffc2d1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contenedor principal */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
}

/* Configurar los productos de arriba */
.productos {
    background-color: #fdd5df;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8x rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productos:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.productos img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0;
    margin-bottom: 15px;
}

.productos h2 {
    color: #ffb2c5;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.productos p {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

.galeria {
    padding: 20px;
    background-color: #fdd5df;
    text-align: center;
}

.contenedor-galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.productos-img {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
}

.productos-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Pie de pagina */
footer {
    background-color: #ffc2d1;
    color: white;
    text-align: center;
    padding: 15px;
}